* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.flex {
    display: flex;
}

.flex i {
    color: #FCFCFC;
}

.margin {
    margin-top: 1px;
    margin-right: 4px;
}

.margin1 {
    margin: 13px 4px 0 0;
}

.lines1 {
    background-color: red;
    width: 54.425px;
    height: 1px;
    float: left;
}

.lines2 {
    width: 122.961px;
    height: 1px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: #EC1C2C;
}

.color {
    color: #97A4C2;
    font-family: 'Roboto', sans-serif;
}

.color2 {
    color: #233145;
    font-family: 'Roboto', sans-serif;
}

.color3 {
    color: #FCFCFC;
    font-family: 'M PLUS 1p', sans-serif;
    font-size: 12.6px;
    font-style: normal;
    font-weight: 800;
    line-height: 207.9%;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.color4 {
    color: #FCFCFC;
    font-family: Open Sans;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 163.35%;
    letter-spacing: 1.2px;
    text-transform: capitalize;
    margin-bottom: 0px;
}

.br {
    padding-top: 54px;
}

.pdt {
    padding-top: 70px;
}

main {
    display: inline-block;
}

.body {
    text-align: -webkit-center;
}

.header {
    height: 400px;
    background: url(./img/23322.png);
    color: black;
    width: 100%;
}

.header h1 {
    padding: 60px;
    color: #1FD5FD;
    text-align: center;
    text-shadow: 0px 4px 10px rgba(255, 255, 255, 0.20);
    font-family: Open Sans;
    font-size: 70px;
    font-style: normal;
    font-weight: 800;
    line-height: 22px;
    letter-spacing: 1px;
}

.header p {
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.logo {
    height: 100px;
    background-color: #fff;
    flex-shrink: 0;
    width: 100%;
}

.logo img {
    float: right;
}

.logo ul li {
    float: left;
    padding-right: 40px;
    color: #233145;
    font-family: 'Work Sans';
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

.intro {
    padding: 54px 0;
}

.intro p {
    padding: 0 45px;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.distance {
    width: 40px;
    height: 3px;
    background: #FF6017;
    display: inline-block;
    margin-right: -36px;
}


main {
    width: 1172px;
    max-width: 100%;
    padding: 66px 0;
}

.service {
    background: url(./img/Rectangle\ 3566.png)lightgray 50% / cover no-repeat;
    /* background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), url(./img/Rectangle\ 3566.png) lightgray 50% / cover no-repeat; */
    display: flex;
}


.product {
    display: grid;
    grid-template-columns: repeat(3, 365px);
    grid-auto-rows: minmax(272px, auto);
    column-gap: 37px;
    row-gap: 34px;
}

.product img {
    margin-left: -23px;
}

.product :hover {
    opacity: 0.7;
    cursor: pointer;
}

.product h2 {
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.product img {
    margin-left: -23px;
    /* width: 100%; */
}

.footer {
    background: #242424;
    height: 259px;
    flex-shrink: 0;
    width: 100%;

}

.contact {
    height: 259px;
    width: 100%;
}

.footer .ipi img {
    width: 168.315px;
    height: 107px;
    flex-shrink: 0;
    float: right;
    margin: 74px 60px 78px 0;
}

.left {
    text-align: left;
}

.letter {
    width: 115.906px;
}

.letter1 {
    width: 101.795px;
    height: 31px;
    flex-shrink: 0;
}

.letter2 {
    width: 228.787px;
    height: 20px;
    flex-shrink: 0;
    margin-top: 9px;
}

.letter3 {
    width: 137.071px;
}

.letter4 {
    width: 163.276px;
}

.letter5 {
    width: 126.992px;
    height: 18px;
    flex-shrink: 0;
}

.letter6 {
    width: 228.787px;
    height: 31px;
    flex-shrink: 0;
    margin-top: 11px;
}

@media (max-width:1170px) {
    .product {
        width: 770px;
        grid-template-columns: repeat(2, 365px);
    }
}

@media (max-width:780px) {
    .product {
        width: 365px;
        grid-template-columns: repeat(1, 365px);
    }
}